# Dependency directories
node_modules/
jspm_packages/

# Frontend build files
dist/
build/
out/

# Environment variables (Crucial for security!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# Editor/OS specific files
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage/

# Database (if using local MongoDB)

data/
db/
backend/llmModel/