fastapi
uvicorn
python-dotenv
python-multipart
pydantic
requests
websockets
# Database
pymongo
# Audio & STT
numpy
soundfile
librosa
faster-whisper
# Text-to-Speech
edge-tts
# AI & ML
sentence-transformers
ultralytics
opencv-python
# Utilities
beautifulsoup4
lxml
